<h2>All concerts</h2>
	<ul>
		<% @concerts.each do |concert| %>
			<li>
				<h4><%= concert.band %></h4>
				<span><%= concert.city %></span><span>(<%= concert.date %>)</span>
				<%= link_to("Read more...", concert_path(concert.id)) %>
			</li>
		<% end %>
	</ul>
</section>

<aside class="options">
	<span><%= link_to("Add new concert to the calendar", new_concert_path) %></span>
</aside>
