<h1> Thats your entry</h1>

<h3><%= @concert.band %></h3>
<p><%= @concert.description %></p>
<span class="concert__date"> <%= @concert.date %></span><span> <%= @concert.price %>€</span>
<span><%= @concert.city %></span><span><%= @concert.venue %></span>

